@layer base;
@import "tailwindcss";

@import "tailwindcss/preflight.css" layer(base);

@import "material-symbols";

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --breakpoint-mobile: 390px;
  --breakpoint-pc: 1200px;

  --color-purple: #5c63f6;
  --color-light-purple1: rgba(215, 216, 240, 1);
  --color-light-purple2: rgba(92, 99, 246, 0.17);
  --color-border-gray: rgba(179, 179, 179, 1);
  --color-black-10: rgba(26, 26, 26, 1);

  --font-nanum-square-neo: "NanumSquareNeo", sans-serif;

  --max-width-container: 1200px;
}

@layer utilities {
  .max-w-container {
    @apply max-w-[var(--max-width-container)] mx-auto;
  }
}

body {
  font-family: var(--font-nanum-square-neo);
  color: var(--color-black-10);
}
